<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()" #formValidator="ngForm">
      <div class="form-group">
        <label for="categoryId">Category Id</label>
        <div class="row">
          <div class="col-md-1">
            <input type="text" class="form-control" name="categoryId" [(ngModel)]="categoryId" #categoryIdValidator="ngModel" required minlength="1" />
          </div>
        </div>
        <div *ngIf="categoryIdValidator.errors && (categoryIdValidator.dirty || categoryIdValidator.touched)" class="text text-danger">
          <div [hidden]="!categoryIdValidator.errors.required">
            Category Id is required.
          </div>
        </div>
        <!--https://stackoverflow.com/questions/42437822/angular-2-form-validation-error-unhandled-promise-rejection-cannot-assign-to-a-->
      </div>
      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="row">
          <div class="col-md-2">
            <input type="text" class="form-control" name="startDate" [(ngModel)]="startDate" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="startDate">End Date</label>
        <div class="row">
          <div class="col-md-2">
            <input type="text" class="form-control" name="endDate" [(ngModel)]="endDate" placeholder="yyyy-mm-dd" />
          </div>
        </div>
      </div>
      <!--https://stackoverflow.com/questions/42437822/angular-2-form-validation-error-unhandled-promise-rejection-cannot-assign-to-a-->
      <div>
        <br />
        <input type="submit" class="btn btn-sm btn-default" value="Fetch" [disabled]="formValidator.invalid" />
      </div>
    </form>
    <hr />
    <filterValues realtime_start="{{container.realtime_start}}" realtime_end="{{container.realtime_start}}" order_by="{{orderByAsString}}"
                  sort_order="{{container.sort_order}}" count="{{container.count}}" offset="{{container.offset}}" limit="{{container.limit}}">
    </filterValues>
    <hr />
    <br />
    <div class="row">
      <div class="col-md-2 font-weight-bold">Id</div>
      <div class="col-md-2 font-weight-bold">Start</div>
      <div class="col-md-2 font-weight-bold">End</div>
      <div class="col-md-2 font-weight-bold">Title</div>
    </div>
    <div class="row" *ngFor="let seriesItem of series">
      <div class="col-md-2">{{ seriesItem.id }}</div>
      <div class="col-md-2">{{ seriesItem.realtime_start | date: 'MM/dd/yyyy' }}</div>
      <div class="col-md-2">{{ seriesItem.realtime_end | date: 'MM/dd/yyyy' }}</div>
      <div class="col-md-2">{{ seriesItem.title }}</div>
    </div>
    <hr />
    <footer fetchMessage="{{ fetchMessage }}" url="{{ url }}"></footer>
  </div>
</div>
