<div class="row">
  <div class="col-md-3">
    <div *ngIf="excludeStartDate == 'false'">
      Start: {{ realtime_start | date: 'MM/dd/yyyy' }}
    </div>
    <div *ngIf="excludeEndDate == 'false'">
      End: {{ realtime_end | date: 'MM/dd/yyyy' }}
    </div>
    <div *ngIf="excludeOrderBy == 'false'">
      Order By: {{ order_by }}
    </div>
    <div *ngIf="excludeSortOrder == 'false'">
      Sort Order: {{ sort_order | sortOrder }}
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="excludeCount == 'false'">
      Count: {{ count }}
    </div>
    <div *ngIf="excludeOffset == 'false'">
      Offset: {{ offset }}
    </div>
    <div *ngIf="excludeLimit == 'false'">
      Limit: {{ limit }}
    </div>
  </div>
</div>
