<div class="row">
  <div class="col-md-3">
    <div *ngIf="excludeStartDate == 'false'">
      Start: {{ values.realtime_start | date: 'MM/dd/yyyy' }}
    </div>
    <div *ngIf="excludeEndDate == 'false'">
      End: {{ values.realtime_end | date: 'MM/dd/yyyy' }}
    </div>
    <div *ngIf="excludeOrderBy == 'false'">
      Order By: {{ values.order_by | orderBy: orderByType }}
    </div>
    <div *ngIf="excludeSortOrder == 'false'">
      Sort Order: {{ values.sort_order | sortOrder }}
    </div>
  </div>
  <div class="col-md-3">
    <div *ngIf="excludeCount == 'false'">
      Count: {{ values.count }}
    </div>
    <div *ngIf="excludeOffset == 'false'">
      Offset: {{ values.offset }}
    </div>
    <div *ngIf="excludeLimit == 'false'">
      Limit: {{ values.limit }}
    </div>
  </div>
</div>
