<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <div *ngIf="container">
      <filterValues [values]="container" orderByType="vintageDates"></filterValues>
      <hr />
      <br />
    </div>
    <div *ngIf="vintageDates">
      <div class="row">
        <div class="col-md-2 font-weight-bold">Date</div>
      </div>
      <div class="row" *ngFor="let vintageDate of vintageDates">
        <div class="col-md-2">{{ vintageDate | date: 'MM/dd/yyyy' }}</div>
      </div>
      <hr />
    </div>
    <div>
      <commonValues [values]="response"></commonValues>
    </div>
  </div>
</div>
