<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <div *ngIf="container">
      <filterValues [values]="container" orderByType="observations"></filterValues>
      <hr />
      <br />
    </div>
    <div *ngIf="observations">
      <div class="row">
        <div class="col-md-2 font-weight-bold">Start</div>
        <div class="col-md-2 font-weight-bold">End</div>
        <div class="col-md-3 font-weight-bold">Date</div>
        <div class="col-md-4 font-weight-bold">Value</div>
      </div>
      <div class="row" *ngFor="let observation of observations">
        <div class="col-md-2">{{ observation.realtime_start | date: 'MM/dd/yyyy' }}</div>
        <div class="col-md-2">{{ observation.realtime_end | date: 'MM/dd/yyyy' }}</div>
        <div class="col-md-3">{{ observation.date | date: 'MM/dd/yyyy' }}</div>
        <div class="col-md-4">{{ observation.value }}</div>
      </div>
      <hr />
    </div>
    <div>
      <commonValues [values]="response"></commonValues>
    </div>
  </div>
</div>
