<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Home</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Categories
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/category/1']">Category</a>
        <a class="dropdown-item" [routerLink]="['/categoryChildren/1']">Children</a>
        <a class="dropdown-item" [routerLink]="['/categoryRelated/32073']">Related</a>
        <a class="dropdown-item" [routerLink]="['/categorySeries/125']">Series</a>
        <a class="dropdown-item" [routerLink]="['/categoryTags/125']">Tags</a>
        <a class="dropdown-item" [routerLink]="['/categoryRelatedTags/125/services;quarterly']">Related Tags</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Releases
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/releases']">Releases</a>
        <a class="dropdown-item" [routerLink]="['/releasesDates']">Releases Dates</a>
        <a class="dropdown-item" [routerLink]="['/release/53']">Release</a>
        <a class="dropdown-item" [routerLink]="['/releaseDates/82']">Release Dates</a>
        <a class="dropdown-item" [routerLink]="['/releaseSeries/51']">Series</a>
        <a class="dropdown-item" [routerLink]="['/releaseSources/51']">Sources</a>
        <a class="dropdown-item" [routerLink]="['/releaseTags/86']">Tags</a>
        <a class="dropdown-item" [routerLink]="['/releaseRelatedTags/86/sa;foreign']">Related Tags</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Series
      </a>
      <div class="dropdown-menu">
        <!--<a class="dropdown-item" href="http://localhost:65275/api/series/GNPCA">series</a>-->
        <a class="dropdown-item" [routerLink]="['/series/GNPCA']">series</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesCategories/EXJPUS">categories</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesObservations/GNPCA">observations</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesRelease/IRA">release</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesSearch/monetary service index">search</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesSearchTags/monetary service index">search tags</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesSearchRelatedTags/mortgage rate">search related tags (not working)</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesTags/STLFSI">tags</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesUpdates">updates</a>
        <a class="dropdown-item" href="http://localhost:65275/api/seriesVintageDates/GNPCA">vintage dates</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Sources
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/sources']">Sources</a>
        <a class="dropdown-item" href="http://localhost:65275/api/source/1">source</a>
        <a class="dropdown-item" href="http://localhost:65275/api/sourceReleases/1">releases</a>
      </div>
    </li>
    <li class="nav-item dropdown" routerLinkActive="active">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Tags
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="http://localhost:65275/api/tags">tags</a>
        <a class="dropdown-item" href="http://localhost:65275/api/relatedTags/monetary aggregates;weekly">related tags</a>
        <a class="dropdown-item" href="http://localhost:65275/api/tagsSeries/slovenia;food;oecd">tag series</a>
      </div>
    </li>
  </ul>
</nav><div class='container-fluid'>
  <router-outlet></router-outlet>
</div>
