<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <filterValues realtime_start="{{container.realtime_start}}" realtime_end="{{container.realtime_start}}" order_by="{{orderByAsString}}"
                  sort_order="{{container.sort_order}}" count="{{container.count}}" offset="{{container.offset}}" limit="{{container.limit}}"
                  excludeOrderBy="{{excludeOrderBy}}" excludeSortOrder="{{excludeSortOrder}}" excludeCount="{{excludeCount}}"
                  excludeOffset="{{excludeOffset}}" excludeLimit="{{excludeLimit}}">
    </filterValues>
    <hr />
    <sourcesGridHeader></sourcesGridHeader>
    <sourcesGridDetail *ngFor="let source of sources" [tag]="source"></sourcesGridDetail>
    <!--<div class="row">
      <div class="col-md-1 font-weight-bold">Id</div>
      <div class="col-md-2 font-weight-bold">Start</div>
      <div class="col-md-2 font-weight-bold">End</div>
      <div class="col-md-3 font-weight-bold">Name</div>
      <div class="col-md-4 font-weight-bold">Link</div>
    </div>
    <div class="row" *ngFor="let source of sources">
      <div class="col-md-1">{{ source.id }}</div>
      <div class="col-md-2">{{ source.realtime_start | date: 'MM/dd/yyyy' }}</div>
      <div class="col-md-2">{{ source.realtime_end | date: 'MM/dd/yyyy' }}</div>
      <div class="col-md-3">{{ source.name }}</div>
      <div class="col-md-4">{{ source.link}}</div>
    </div>-->
    <hr />
    <footer fetchMessage="{{ fetchMessage }}" url="{{ url }}"></footer>
  </div>
</div>
