<h3>{{ heading }}</h3>
<div>
  <div>
    Start: {{ container.realtime_start | date: 'MM/dd/yyyy' }}
  </div>
  <div>
    End: {{ container.realtime_end | date: 'MM/dd/yyyy' }}
  </div>
  <div>
    Order By: {{ container.order_by | sourcesOrderBy }}
  </div>
  <div>
    Sort Order: {{ container.sort_order | sortOrder }}
  </div>
  <div>
    Count: {{ container.count }}
  </div>
  <div>
    Offset: {{ container.offset }}
  </div>
  <div>
    Limit: {{ container.limit }}
  </div>
</div>
<hr />
<div class="card">
  <div class="row">
    <div class="col-md-1 font-weight-bold">Id</div>
    <div class="col-md-2 font-weight-bold">Start</div>
    <div class="col-md-2 font-weight-bold">End</div>
    <div class="col-md-3 font-weight-bold">Name</div>
    <div class="col-md-4 font-weight-bold">Link</div>
  </div>
  <div class="row" *ngFor="let source of sources">
    <div class="col-md-1">{{ source.id }}</div>
    <div class="col-md-2">{{ source.realtime_start | date: 'MM/dd/yyyy' }}</div>
    <div class="col-md-2">{{ source.realtime_end | date: 'MM/dd/yyyy' }}</div>
    <div class="col-md-3">{{ source.name }}</div>
    <div class="col-md-4">{{ source.link}}</div>
  </div>
</div>
<hr />
<div>
  <div *ngIf="fetchMessage == ''" class="text text-danger">
    Message: {{ fetchMessage }}
  </div>
  <div>
    <a href="{{ url }}">FRED Url</a>
  </div>
</div>
