<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <div *ngIf="container">
      <filterValues [values]="container" orderByType="tags"></filterValues>
      <hr />
      <br />
    </div>
    <div *ngIf="tags">
      <tagsGridHeader></tagsGridHeader>
      <tagsGridDetail *ngFor="let tag of tags" [tag]="tag"></tagsGridDetail>
      <hr />
    </div>
    <div>
      <commonValues [values]="response"></commonValues>
    </div>
  </div>
</div>
