<br />
<div class="card">
  <div class="card-header">
    {{ heading }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3">
        <filterValues realtime_start="{{response.realtime_start}}" realtime_end="{{response.realtime_start}}" order_by="{{response}}"
                      sort_order="{{response.sort_order}}" count="{{response.count}}" offset="{{response.offset}}" limit="{{response.limit}}">
        </filterValues>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-1 font-weight-bold">Id</div>
      <div class="col-md-2 font-weight-bold">Date</div>
    </div>
    <div class="row" *ngFor="let releaseDate of response.release_dates">
      <div class="col-md-1">{{ releaseDate.release_id }}</div>
      <div class="col-md-2">{{ releaseDate.date | date: 'MM/dd/yyyy' }}</div>
    </div>
    <hr />
    <footer fetchMessage="{{ response.fetchMessage }}" url="{{ response.url }}"></footer>
  </div>
</div>
