<!DOCTYPE html>
<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-click="orderBy('realtime_start')">
					realtime_start
					<span class="sortorder" ng-show="column === 'realtime_start' && api.orderByEnabled" ng-class="{reverse:reverse}"></span>
				</th>
				<th ng-click="orderBy('realtime_end')">
					realtime_end
					<span class="sortorder" ng-show="column === 'realtime_end' && api.orderByEnabled" ng-class="{reverse:reverse}"></span>
				</th>
				<th ng-click="orderBy('date')">
					date
					<span class="sortorder" ng-show="column === 'date' && api.orderByEnabled" ng-class="{reverse:reverse}"></span>
				</th>
				<th ng-click="orderBy('value')">
					value
					<span class="sortorder" ng-show="column === 'value' && api.orderByEnabled" ng-class="{reverse:reverse}"></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="observation in container.observations | orderBy:column:reverse">
				<td>{{observation.realtime_start | date : "longDate"}}</td>
				<td>{{observation.realtime_end | date : "longDate"}}</td>
				<td>{{observation.date | date : "longDate"}}</td>
				<td>{{observation.value}}</td>
			<tr>
		</tbody>
	</table>
</div>

