<!DOCTYPE html>
<div>
	<h2>Categories</h2>
	<a href="#/category">fred/category</a>
	<br />
	<a href="#/category/children">fred/category/children</a>
	<br />
	<a href="#/category/related">fred/category/related</a>
	<br />
	<a href="#/category/series">fred/category/series</a>
	<br />
	<a href="#/category/tags">fred/category/tags</a>
	<br />
	<a href="#/category/related_tags">fred/category/related_tags</a>
	<br />
	<h2>Releases</h2>
	<a href="#/releases">fred/releases</a>
	<br />
	<a href="#/releases/dates">fred/releases/dates</a>
	<br />
	<a href="#/release">fred/release</a>
	<br />
	<a href="#/release/dates">fred/release/dates</a>
	<br />
	<a href="#/release/series">fred/release/series</a>
	<br />
	<a href="#/release/sources">fred/release/sources</a>
	<br />
	<a href="#/release/tags">fred/release/tags</a>
	<br />
	<a href="#/release/related_tags">fred/release/related_tags</a>
	<br />
	<h2>Series</h2>
	<a href="#/series">fred/series</a>
	<br />
	<a href="#/series/categories">fred/series/categories</a>
	<br />
	<a href="#/series/observations">fred/series/observations</a>
	<br />
	<a href="#/series/release">fred/series/release</a>
	<br />
	<a href="#/series/search">fred/series/search</a>
	<br />
	<a href="#/series/search/tags">fred/series/search/tags</a>
	<br />
	<a href="#/series/search/related_tags">fred/series/search/related_tags</a>
	<br />
	<a href="#/series/tags">fred/series/tags</a>
	<br />
	<a href="#/series/updates">fred/series/updates</a>
	<br />
	<a href="#/series/vintagedates">fred/series/vintagedates</a>
	<br />
	<h2>Sources</h2>
	<a href="#/sources">fred/sources</a>
	<br />
	<a href="#/source">fred/source</a>
	<br />
	<a href="#/source/releases">fred/source/releases</a>
	<br />
	<h2>Tags</h2>
	<a href="#/tags">fred/tags</a>
	<br />
	<a href="#/related_tags">fred/related_tags</a>
	<br />
	<a href="#/tags/series">fred/tags/series</a>
	<br />
</div>
